@font-face { 
	font-family: Prociono; 
	src: url('Prociono-Regular.otf'); 
}

#successMessage {
	width: 65%;
	text-align:center;
	margin: 0 auto;
	padding: 20px;
	margin-top: 30px;
	font-family: Prociono;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-size: 1.5em;
	background-color: #5BB75B;
	color:#F6E7D2;
}

table {
	padding: 10px;
	padding-bottom: 40px;
	margin: 0 auto;
	text-align:center;
}

thead {
	font-size: 1.5em;
}

tbody {
	
}

#profile {
	text-align:center;
	padding-top: 40px;
	padding-bottom: 40px;
	font-size: 2em;
}

#profile:hover {
	background-color: rgba(10,73,88,0.7);
	color:white;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#profileImg {
	width: 40px;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
}

#MessageForm {
	margin: 0 auto;
	width: 41%;
	padding: 30px;
	
}

#ContactHeading {
	font-size: 2em;
	text-align:center;
	padding-top: 40px;
}

.ErrorMessage {
	color:#dc143c;
}

#MessageButton {
	background-color: #0A4958;
	color:white;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width: 50%;
	height: 50px;
	cursor: pointer;
	border:none;
	font-size: 1em;
}

#MessageButton:hover {
	background-color:#01B6AD;
}

#chars {
	text-align: right;
}